body{
  background-color:rgb(219, 219, 219);
}
main{

}
h1{

}
img{
  display:block;
}
figcaption{

}
span{
  font-weight:bold;
}
a{
  
}

#main{

}
#title{

}
#img-div{

}
#image{
  height:auto;
  max-width:100%;
}
#img-caption{

}

#tribute-info{

}

#tribute-link{

}

#tribute-link #target{

}